.zoom-container {
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.zoom-child,
.zoom-child > * {
  pointer-events: none;
  position: absolute;
  transform-origin: top left;
  user-select: none;
}

.zoom-child * {
  user-select: none;
}
